@model List<MyPortfolio.Models.TblMessages>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<br />
<br />
<h2>Gelen Mesajlar</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Gönderen Adı</th>
        <th>Email</th>
        <th>Başlık</th>
        <th>Mesaj</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Subject</td>
            <td>@item.MessageContent</td>
            <td><a href="/Message/DeleteMessage/@item.MessageId" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>